In [1]:
# Import our dependencies
import pandas as pd
import sklearn as skl
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder, LabelEncoder
import tensorflow as tf

In [20]:
# Read in our raw data
data_df = pd.read_csv("data.csv")
data_df

,R_fighter,B_fighter,Referee,date,location,Winner,title_bout,weight_class,B_avg_KD,B_avg_opp_KD,...,R_win_by_Decision_Unanimous,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
0,Adrian Yanez,Gustavo Lopez,Chris Tognoni,2021-03-20,"Las Vegas, Nevada, USA",Red,False,Bantamweight,0.000,0.0,...,0,1,0,0,Orthodox,170.18,177.80,135.0,31.0,27.0
1,Trevin Giles,Roman Dolidze,Herb Dean,2021-03-20,"Las Vegas, Nevada, USA",Red,False,Middleweight,0.500,0.0,...,0,3,0,0,Orthodox,182.88,187.96,185.0,32.0,28.0
2,Tai Tuivasa,Harry Hunsucker,Herb Dean,2021-03-20,"Las Vegas, Nevada, USA",Red,False,Heavyweight,NaN,NaN,...,1,3,0,0,Southpaw,187.96,190.50,264.0,32.0,28.0
3,Cheyanne Buys,Montserrat Conejo,Mark Smith,2021-03-20,"Las Vegas, Nevada, USA",Blue,False,WomenStrawweight,NaN,NaN,...,0,0,0,0,Switch,160.02,160.02,115.0,28.0,25.0
4,Marion Reneau,Macy Chiasson,Mark Smith,2021-03-20,"Las Vegas, Nevada, USA",Blue,False,WomenBantamweight,0.125,0.0,...,1,2,2,0,Orthodox,167.64,172.72,135.0,29.0,43.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6007,Remco Pardoel,Alberta Cerra Leon,John McCarthy,1994-03-11,"Denver, Colorado, USA",Red,False,OpenWeight,NaN,NaN,...,0,0,0,0,Southpaw,190.50,NaN,260.0,NaN,NaN
6008,Orlando Wiet,Robert Lucarelli,John McCarthy,1994-03-11,"Denver, Colorado, USA",Red,False,OpenWeight,NaN,NaN,...,0,0,0,0,Southpaw,177.80,NaN,170.0,NaN,NaN
6009,Johnny Rhodes,David Levicki,John McCarthy,1994-03-11,"Denver, Colorado, USA",Red,False,OpenWeight,NaN,NaN,...,0,0,0,0,Orthodox,182.88,NaN,210.0,NaN,NaN
6010,Patrick Smith,Ray Wizard,John McCarthy,1994-03-11,"Denver, Colorado, USA",Red,False,OpenWeight,NaN,NaN,...,0,0,0,0,Orthodox,187.96,NaN,225.0,NaN,30.0
6011,Scott Morris,Sean Daugherty,John McCarthy,1994-03-11,"Denver, Colorado, USA",Red,False,OpenWeight,NaN,NaN,...,0,0,0,0,Orthodox,177.80,NaN,210.0,18.0,NaN

In [21]:
#Filter by welterweight weight class
welter_df = data_df[data_df["weight_class"]=="Welterweight"]
welter_df.head()

,R_fighter,B_fighter,Referee,date,location,Winner,title_bout,weight_class,B_avg_KD,B_avg_opp_KD,...,R_win_by_Decision_Unanimous,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
6,Song Kenan,Max Griffin,Keith Peterson,2021-03-20,"Las Vegas, Nevada, USA",Blue,False,Welterweight,0.046875,0.125000,...,1,3,0,0,Orthodox,182.88,180.34,170.0,35.0,31.0
12,Leon Edwards,Belal Muhammad,Herb Dean,2021-03-13,"Las Vegas, Nevada, USA",Draw,False,Welterweight,0.000000,0.064941,...,6,2,1,0,Southpaw,187.96,187.96,170.0,32.0,29.0
20,Matthew Semelsberger,Jason Witt,Chris Tognoni,2021-03-13,"Las Vegas, Nevada, USA",Red,False,Welterweight,0.000000,0.500000,...,1,0,0,0,Switch,185.42,190.50,170.0,34.0,28.0
36,Sean Brady,Jake Matthews,Chris Tognoni,2021-03-06,"Las Vegas, Nevada, USA",Red,False,Welterweight,0.781250,0.000488,...,2,0,1,0,Orthodox,177.80,182.88,170.0,26.0,28.0
60,Belal Muhammad,Dhiego Lima,Herb Dean,2021-02-13,"Las Vegas, Nevada, USA",Red,False,Welterweight,0.156250,0.285156,...,5,1,1,0,Orthodox,180.34,182.88,170.0,32.0,32.0

In [22]:
#Drop columns that are irrelevant
welter_df2 = welter_df.drop(['R_avg_KD',
 'R_avg_opp_KD',
 'R_avg_SIG_STR_pct',
 'R_avg_opp_SIG_STR_pct',
 'R_avg_TD_pct',
 'R_avg_opp_TD_pct',
 'R_avg_SUB_ATT',
 'R_avg_opp_SUB_ATT',
 'R_avg_REV',
 'R_avg_opp_REV',
 'R_avg_SIG_STR_att',
 'R_avg_SIG_STR_landed',
 'R_avg_opp_SIG_STR_att',
 'R_avg_opp_SIG_STR_landed',
 'R_avg_TOTAL_STR_att',
 'R_avg_TOTAL_STR_landed',
 'R_avg_opp_TOTAL_STR_att',
 'R_avg_opp_TOTAL_STR_landed',
 'R_avg_TD_att',
 'R_avg_TD_landed',
 'R_avg_opp_TD_att',
 'R_avg_opp_TD_landed',
 'R_avg_HEAD_att',
 'R_avg_HEAD_landed',
 'R_avg_opp_HEAD_att',
 'R_avg_opp_HEAD_landed',
 'R_avg_BODY_att',
 'R_avg_BODY_landed',
 'R_avg_opp_BODY_att',
 'R_avg_opp_BODY_landed',
 'R_avg_LEG_att',
 'R_avg_LEG_landed',
 'R_avg_opp_LEG_att',
 'R_avg_opp_LEG_landed',
 'R_avg_DISTANCE_att',
 'R_avg_DISTANCE_landed',
 'R_avg_opp_DISTANCE_att',
 'R_avg_opp_DISTANCE_landed',
 'R_avg_CLINCH_att',
 'R_avg_CLINCH_landed',
 'R_avg_opp_CLINCH_att',
 'R_avg_opp_CLINCH_landed',
 'R_avg_GROUND_att',
 'R_avg_GROUND_landed',
 'R_avg_opp_GROUND_att',
 'R_avg_opp_GROUND_landed',
 'R_avg_CTRL_time(seconds)',
 'R_avg_opp_CTRL_time(seconds)',
'B_avg_KD',
 'B_avg_opp_KD',
 'B_avg_SIG_STR_pct',
 'B_avg_opp_SIG_STR_pct',
 'B_avg_TD_pct',
 'B_avg_opp_TD_pct',
 'B_avg_SUB_ATT',
 'B_avg_opp_SUB_ATT',
 'B_avg_REV',
 'B_avg_opp_REV',
 'B_avg_SIG_STR_att',
 'B_avg_SIG_STR_landed',
 'B_avg_opp_SIG_STR_att',
 'B_avg_opp_SIG_STR_landed',
 'B_avg_TOTAL_STR_att',
 'B_avg_TOTAL_STR_landed',
 'B_avg_opp_TOTAL_STR_att',
 'B_avg_opp_TOTAL_STR_landed',
 'B_avg_TD_att',
 'B_avg_TD_landed',
 'B_avg_opp_TD_att',
 'B_avg_opp_TD_landed',
 'B_avg_HEAD_att',
 'B_avg_HEAD_landed',
 'B_avg_opp_HEAD_att',
 'B_avg_opp_HEAD_landed',
 'B_avg_BODY_att',
 'B_avg_BODY_landed',
 'B_avg_opp_BODY_att',
 'B_avg_opp_BODY_landed',
 'B_avg_LEG_att',
 'B_avg_LEG_landed',
 'B_avg_opp_LEG_att',
 'B_avg_opp_LEG_landed',
 'B_avg_DISTANCE_att',
 'B_avg_DISTANCE_landed',
 'B_avg_opp_DISTANCE_att',
 'B_avg_opp_DISTANCE_landed',
 'B_avg_CLINCH_att',
 'B_avg_CLINCH_landed',
 'B_avg_opp_CLINCH_att',
 'B_avg_opp_CLINCH_landed',
 'B_avg_GROUND_att',
 'B_avg_GROUND_landed',
 'B_avg_opp_GROUND_att',
 'B_avg_opp_GROUND_landed',
 'B_avg_CTRL_time(seconds)',
 'B_avg_opp_CTRL_time(seconds)',
'Referee', 'date', 'location','title_bout', 'weight_class', 'B_draw','B_win_by_Decision_Majority', 'B_win_by_Decision_Split',
       'B_win_by_Decision_Unanimous', 'B_win_by_KO/TKO', 'B_win_by_Submission',
       'B_win_by_TKO_Doctor_Stoppage','R_draw', 'R_win_by_Decision_Majority', 'R_win_by_Decision_Split',
       'R_win_by_Decision_Unanimous', 'R_win_by_KO/TKO', 'R_win_by_Submission',
       'R_win_by_TKO_Doctor_Stoppage',],axis=1)
welter_df2

,R_fighter,B_fighter,Winner,B_total_time_fought(seconds),B_total_rounds_fought,B_total_title_bouts,B_current_win_streak,B_current_lose_streak,B_longest_win_streak,B_wins,...,R_current_lose_streak,R_longest_win_streak,R_wins,R_losses,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
6,Song Kenan,Max Griffin,Blue,809.531250,28,0,0,1,1,4,...,0,2,4,1,Orthodox,182.88,180.34,170.0,35.0,31.0
12,Leon Edwards,Belal Muhammad,Draw,876.053223,34,0,0,1,4,9,...,1,8,10,2,Southpaw,187.96,187.96,170.0,32.0,29.0
20,Matthew Semelsberger,Jason Witt,Red,238.500000,3,0,0,1,1,1,...,0,1,1,0,Switch,185.42,190.50,170.0,34.0,28.0
36,Sean Brady,Jake Matthews,Red,861.528564,34,0,2,0,3,10,...,0,3,3,0,Orthodox,177.80,182.88,170.0,26.0,28.0
60,Belal Muhammad,Dhiego Lima,Red,760.285156,18,2,0,1,3,4,...,1,4,8,3,Orthodox,180.34,182.88,170.0,32.0,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5789,Shonie Carter,Adrian Serrano,Red,NaN,0,0,0,0,0,0,...,0,1,1,0,Southpaw,177.80,NaN,170.0,36.0,28.0
5790,Pat Miletich,John Alessio,Red,NaN,0,0,0,0,0,0,...,0,5,5,0,Orthodox,177.80,NaN,170.0,20.0,32.0
5826,Pat Miletich,Andre Pederneiras,Red,NaN,0,0,0,0,0,0,...,0,4,4,0,Orthodox,177.80,NaN,170.0,32.0,31.0
5851,Pat Miletich,Jorge Patino,Red,NaN,0,0,0,0,0,0,...,0,3,3,0,Orthodox,177.80,NaN,170.0,25.0,30.0
5854,Pat Miletich,Mikey Burnett,Red,585.000000,1,0,1,0,1,1,...,0,2,2,0,Orthodox,177.80,NaN,170.0,24.0,30.0

In [23]:
welter_df2=welter_df2.dropna(subset=['B_total_time_fought(seconds)', 'R_total_time_fought(seconds)'])
welter_df2=welter_df2.reset_index()

In [24]:
welter_df2=welter_df2.drop(['index'], axis=1)
welter_df2

,R_fighter,B_fighter,Winner,B_total_time_fought(seconds),B_total_rounds_fought,B_total_title_bouts,B_current_win_streak,B_current_lose_streak,B_longest_win_streak,B_wins,...,R_current_lose_streak,R_longest_win_streak,R_wins,R_losses,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
0,Song Kenan,Max Griffin,Blue,809.531250,28,0,0,1,1,4,...,0,2,4,1,Orthodox,182.88,180.34,170.0,35.0,31.0
1,Leon Edwards,Belal Muhammad,Draw,876.053223,34,0,0,1,4,9,...,1,8,10,2,Southpaw,187.96,187.96,170.0,32.0,29.0
2,Matthew Semelsberger,Jason Witt,Red,238.500000,3,0,0,1,1,1,...,0,1,1,0,Switch,185.42,190.50,170.0,34.0,28.0
3,Sean Brady,Jake Matthews,Red,861.528564,34,0,2,0,3,10,...,0,3,3,0,Orthodox,177.80,182.88,170.0,26.0,28.0
4,Belal Muhammad,Dhiego Lima,Red,760.285156,18,2,0,1,3,4,...,1,4,8,3,Orthodox,180.34,182.88,170.0,32.0,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
792,Carlos Newton,Pat Miletich,Red,499.656250,15,6,7,0,7,7,...,0,1,1,1,Orthodox,175.26,NaN,170.0,33.0,24.0
793,Pat Miletich,Kenichi Yamamoto,Red,727.500000,5,1,2,0,2,2,...,0,6,6,0,Orthodox,177.80,NaN,170.0,24.0,32.0
794,Fabiano Iha,Daiju Takase,Red,590.500000,4,0,0,2,0,0,...,2,1,1,2,Orthodox,172.72,NaN,155.0,22.0,30.0
795,Fabiano Iha,Laverne Clark,Red,573.250000,5,0,3,0,3,3,...,2,0,0,2,Orthodox,172.72,NaN,155.0,26.0,30.0
796,Pat Miletich,Mikey Burnett,Red,585.000000,1,0,1,0,1,1,...,0,2,2,0,Orthodox,177.80,NaN,170.0,24.0,30.0

In [8]:
welter_df2.columns

Index(['R_fighter', 'B_fighter', 'Winner', 'B_total_time_fought(seconds)',
       'B_total_rounds_fought', 'B_total_title_bouts', 'B_current_win_streak',
       'B_current_lose_streak', 'B_longest_win_streak', 'B_wins', 'B_losses',
       'B_Stance', 'B_Height_cms', 'B_Reach_cms', 'B_Weight_lbs',
       'R_total_time_fought(seconds)', 'R_total_rounds_fought',
       'R_total_title_bouts', 'R_current_win_streak', 'R_current_lose_streak',
       'R_longest_win_streak', 'R_wins', 'R_losses', 'R_Stance',
       'R_Height_cms', 'R_Reach_cms', 'R_Weight_lbs', 'B_age', 'R_age'],
      dtype='object')

In [25]:
# # Create the OneHotEncoder instance
# enc = OneHotEncoder(sparse=False)

# # Fit the encoder and produce encoded DataFrame
# R_stance_df = pd.DataFrame(enc.fit_transform(welter_df2.R_Stance.values.reshape(-1,1)))

# # Rename encoded columns
# R_stance_df.columns = enc.get_feature_names(['R_Stance'])
# R_stance_df=R_stance_df.drop(['R_Stance_nan'],axis=1)
# R_stance_df

le = LabelEncoder()
Rstance_df = welter_df2.copy
Rstance_df=pd.DataFrame(welter_df2)
Rstance_df=Rstance_df.drop(['R_fighter', 'B_fighter', 'B_total_time_fought(seconds)',
       'B_total_rounds_fought', 'B_total_title_bouts', 'B_current_win_streak',
       'B_current_lose_streak', 'B_longest_win_streak', 'B_wins', 'B_losses',
       'B_Stance', 'B_Height_cms', 'B_Reach_cms', 'B_Weight_lbs',
       'R_total_time_fought(seconds)', 'R_total_rounds_fought',
       'R_total_title_bouts', 'R_current_win_streak', 'R_current_lose_streak',
       'R_longest_win_streak', 'R_wins', 'R_losses', 'Winner',
       'R_Height_cms', 'R_Reach_cms', 'R_Weight_lbs', 'B_age', 'R_age'], axis=1)

Rstance_df['R_Stance'] = le.fit_transform(Rstance_df['R_Stance']) 

Rstance_df=Rstance_df.reset_index()
Rstance_df=Rstance_df.drop(['index'], axis=1)
Rstance_df

     R_Stance
0           0
1           1
2           2
3           0
4           0
..        ...
792         0
793         0
794         0
795         0
796         0

[797 rows x 1 columns]

In [288]:
# Check for Null values
R_stance_df[R_stance_df.isna().any(axis=1)]

Empty DataFrame
Columns: [R_Stance_Orthodox, R_Stance_Southpaw, R_Stance_Switch]
Index: []

In [26]:
# # Create the OneHotEncoder instance
# enc = OneHotEncoder(sparse=False)

# # Fit the encoder and produce encoded DataFrame
# B_stance_df = pd.DataFrame(enc.fit_transform(welter_df2.B_Stance.values.reshape(-1,1)))

# # Rename encoded columns
# B_stance_df.columns = enc.get_feature_names(['B_Stance'])
# B_stance_df

Bstance_df = welter_df2.copy
Bstance_df=pd.DataFrame(welter_df2)
Bstance_df=Bstance_df.drop(['R_fighter', 'B_fighter', 'B_total_time_fought(seconds)',
       'B_total_rounds_fought', 'B_total_title_bouts', 'B_current_win_streak',
       'B_current_lose_streak', 'B_longest_win_streak', 'B_wins', 'B_losses',
       'R_Stance', 'B_Height_cms', 'B_Reach_cms', 'B_Weight_lbs',
       'R_total_time_fought(seconds)', 'R_total_rounds_fought',
       'R_total_title_bouts', 'R_current_win_streak', 'R_current_lose_streak',
       'R_longest_win_streak', 'R_wins', 'R_losses', 'Winner',
       'R_Height_cms', 'R_Reach_cms', 'R_Weight_lbs', 'B_age', 'R_age'], axis=1)

Bstance_df['B_Stance'] = le.fit_transform(Bstance_df['B_Stance']) 

Bstance_df=Bstance_df.reset_index()
Bstance_df=Bstance_df.drop(['index'], axis=1)
Bstance_df

     B_Stance
0           0
1           0
2           0
3           0
4           0
..        ...
792         0
793         0
794         1
795         0
796         0

[797 rows x 1 columns]

In [290]:
# Check for Null values
B_stance_df[B_stance_df.isna().any(axis=1)]

Empty DataFrame
Columns: [B_Stance_Orthodox, B_Stance_Southpaw, B_Stance_Switch]
Index: []

In [27]:
# # Create the OneHotEncoder instance
# enc = OneHotEncoder(sparse=False)

# # Fit the encoder and produce encoded DataFrame
# winner_df = pd.DataFrame(enc.fit_transform(welter_df.Winner.values.reshape(-1,1)))

# # Rename encoded columns
# winner_df.columns = enc.get_feature_names(['Winner'])
# winner_df

le = LabelEncoder()
winner_df = welter_df2.copy
winner_df=pd.DataFrame(welter_df2)
winner_df=winner_df.drop(['R_fighter', 'B_fighter', 'B_total_time_fought(seconds)',
       'B_total_rounds_fought', 'B_total_title_bouts', 'B_current_win_streak',
       'B_current_lose_streak', 'B_longest_win_streak', 'B_wins', 'B_losses',
       'B_Stance', 'B_Height_cms', 'B_Reach_cms', 'B_Weight_lbs',
       'R_total_time_fought(seconds)', 'R_total_rounds_fought',
       'R_total_title_bouts', 'R_current_win_streak', 'R_current_lose_streak',
       'R_longest_win_streak', 'R_wins', 'R_losses', 'R_Stance',
       'R_Height_cms', 'R_Reach_cms', 'R_Weight_lbs', 'B_age', 'R_age'], axis=1)

winner_df['Winner'] = le.fit_transform(winner_df['Winner']) 

winner_df=winner_df.rename(columns={'Winner':'Win'})
winner_df=winner_df.reset_index()
winner_df=winner_df.drop(['index'], axis=1)
winner_df

     Win
0      0
1      1
2      2
3      2
4      2
..   ...
792    2
793    2
794    2
795    2
796    2

[797 rows x 1 columns]

In [153]:
# Check for Null values
winner_df[winner_df.isna().any(axis=1)]

Empty DataFrame
Columns: [Win]
Index: []

In [30]:
welter_df2=welter_df2.drop(['R_Stance', 'B_Stance', 'Winner'], axis=1)
welter_df2.head()

,R_fighter,B_fighter,B_total_time_fought(seconds),B_total_rounds_fought,B_total_title_bouts,B_current_win_streak,B_current_lose_streak,B_longest_win_streak,B_wins,B_losses,...,R_current_win_streak,R_current_lose_streak,R_longest_win_streak,R_wins,R_losses,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
0,Song Kenan,Max Griffin,809.531250,28,0,0,1,1,4,6,...,2,0,2,4,1,182.88,180.34,170.0,35.0,31.0
1,Leon Edwards,Belal Muhammad,876.053223,34,0,0,1,4,9,3,...,0,1,8,10,2,187.96,187.96,170.0,32.0,29.0
2,Matthew Semelsberger,Jason Witt,238.500000,3,0,0,1,1,1,1,...,1,0,1,1,0,185.42,190.50,170.0,34.0,28.0
3,Sean Brady,Jake Matthews,861.528564,34,0,2,0,3,10,4,...,3,0,3,3,0,177.80,182.88,170.0,26.0,28.0
4,Belal Muhammad,Dhiego Lima,760.285156,18,2,0,1,3,4,5,...,0,1,4,8,3,180.34,182.88,170.0,32.0,32.0

In [32]:
#Merge experiment
merged_df = welter_df2.join(Rstance_df,how='left')
merged_df2 = merged_df.join(Bstance_df,how='left')
merged_df3 = merged_df2.join(winner_df, how='left')
# merged_df3=merged_df3.drop([,'B_Stance','R_Stance'],axis=1)

merged_df3

,R_fighter,B_fighter,B_total_time_fought(seconds),B_total_rounds_fought,B_total_title_bouts,B_current_win_streak,B_current_lose_streak,B_longest_win_streak,B_wins,B_losses,...,R_wins,R_losses,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age,R_Stance,B_Stance,Win
0,Song Kenan,Max Griffin,809.531250,28,0,0,1,1,4,6,...,4,1,182.88,180.34,170.0,35.0,31.0,0,0,0
1,Leon Edwards,Belal Muhammad,876.053223,34,0,0,1,4,9,3,...,10,2,187.96,187.96,170.0,32.0,29.0,1,0,1
2,Matthew Semelsberger,Jason Witt,238.500000,3,0,0,1,1,1,1,...,1,0,185.42,190.50,170.0,34.0,28.0,2,0,2
3,Sean Brady,Jake Matthews,861.528564,34,0,2,0,3,10,4,...,3,0,177.80,182.88,170.0,26.0,28.0,0,0,2
4,Belal Muhammad,Dhiego Lima,760.285156,18,2,0,1,3,4,5,...,8,3,180.34,182.88,170.0,32.0,32.0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
792,Carlos Newton,Pat Miletich,499.656250,15,6,7,0,7,7,0,...,1,1,175.26,NaN,170.0,33.0,24.0,0,0,2
793,Pat Miletich,Kenichi Yamamoto,727.500000,5,1,2,0,2,2,0,...,6,0,177.80,NaN,170.0,24.0,32.0,0,0,2
794,Fabiano Iha,Daiju Takase,590.500000,4,0,0,2,0,0,2,...,1,2,172.72,NaN,155.0,22.0,30.0,0,1,2
795,Fabiano Iha,Laverne Clark,573.250000,5,0,3,0,3,3,0,...,0,2,172.72,NaN,155.0,26.0,30.0,0,0,2
796,Pat Miletich,Mikey Burnett,585.000000,1,0,1,0,1,1,0,...,2,0,177.80,NaN,170.0,24.0,30.0,0,0,2

In [33]:
# Check for Null values
merged_df3[merged_df3.isna().any(axis=1)]

,R_fighter,B_fighter,B_total_time_fought(seconds),B_total_rounds_fought,B_total_title_bouts,B_current_win_streak,B_current_lose_streak,B_longest_win_streak,B_wins,B_losses,...,R_wins,R_losses,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age,R_Stance,B_Stance,Win
151,CM Punk,Mike Jackson,45.00000,1,0,0,1,0,0,1,...,0,1,185.42,185.42,170.0,33.0,39.0,0,0,1
220,Luan Chagas,Jim Wallhead,900.00000,3,0,0,1,0,0,1,...,0,2,182.88,190.50,170.0,33.0,23.0,0,0,2
253,Richard Walsh,Jonathan Meunier,654.00000,3,0,0,1,0,0,1,...,2,3,182.88,185.42,170.0,29.0,27.0,0,2,0
284,Li Jingliang,Anton Zafir,276.00000,1,0,0,1,0,0,1,...,2,2,182.88,180.34,170.0,29.0,28.0,0,0,2
310,Jonavin Webb,Nathan Coy,166.00000,1,0,0,1,0,0,1,...,0,1,177.80,NaN,170.0,37.0,26.0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
792,Carlos Newton,Pat Miletich,499.65625,15,6,7,0,7,7,0,...,1,1,175.26,NaN,170.0,33.0,24.0,0,0,2
793,Pat Miletich,Kenichi Yamamoto,727.50000,5,1,2,0,2,2,0,...,6,0,177.80,NaN,170.0,24.0,32.0,0,0,2
794,Fabiano Iha,Daiju Takase,590.50000,4,0,0,2,0,0,2,...,1,2,172.72,NaN,155.0,22.0,30.0,0,1,2
795,Fabiano Iha,Laverne Clark,573.25000,5,0,3,0,3,3,0,...,0,2,172.72,NaN,155.0,26.0,30.0,0,0,2
796,Pat Miletich,Mikey Burnett,585.00000,1,0,1,0,1,1,0,...,2,0,177.80,NaN,170.0,24.0,30.0,0,0,2

In [34]:
#Export as csv
merged_df3.to_csv("cleaned_data_unscaled_926.csv", index=False)

In [244]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df1['B_total_time_fought(seconds)'] = scaler.fit_transform(df1['B_total_time_fought(seconds)'].values.reshape(-1,1))
df1['R_total_time_fought(seconds)'] = scaler.fit_transform(df1['R_total_time_fought(seconds)'].values.reshape(-1,1))
df1['R_Weight_lbs'] = scaler.fit_transform(df1['R_Weight_lbs'].values.reshape(-1,1))
df1['B_Weight_lbs'] = scaler.fit_transform(df1['B_Weight_lbs'].values.reshape(-1,1))
df1['R_Height_cms'] = scaler.fit_transform(df1['R_Height_cms'].values.reshape(-1,1))
df1['B_Height_cms'] = scaler.fit_transform(df1['B_Height_cms'].values.reshape(-1,1))


df1

,R_fighter,B_fighter,B_total_time_fought(seconds),B_total_rounds_fought,B_total_title_bouts,B_current_win_streak,B_current_lose_streak,B_longest_win_streak,B_wins,B_losses,...,R_Weight_lbs,B_age,R_age,R_Stance_Orthodox,R_Stance_Southpaw,R_Stance_Switch,B_Stance_Orthodox,B_Stance_Southpaw,B_Stance_Switch,Win
0,Song Kenan,Max Griffin,0.535663,28,0,0,1,1,4,6,...,0.416667,0.75,0.521739,1.0,0.0,0.0,1.0,0.0,0.0,0
1,Leon Edwards,Belal Muhammad,0.580399,34,0,0,1,4,9,3,...,0.416667,0.60,0.434783,0.0,1.0,0.0,1.0,0.0,0.0,1
2,Matthew Semelsberger,Jason Witt,0.151648,3,0,0,1,1,1,1,...,0.416667,0.70,0.391304,0.0,0.0,1.0,1.0,0.0,0.0,2
3,Sean Brady,Jake Matthews,0.570631,34,0,2,0,3,10,4,...,0.416667,0.30,0.391304,1.0,0.0,0.0,1.0,0.0,0.0,2
4,Belal Muhammad,Dhiego Lima,0.502545,18,2,0,1,3,4,5,...,0.416667,0.60,0.565217,1.0,0.0,0.0,1.0,0.0,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
792,Carlos Newton,Pat Miletich,0.327274,15,6,7,0,7,7,0,...,0.416667,0.65,0.217391,1.0,0.0,0.0,1.0,0.0,0.0,2
793,Pat Miletich,Kenichi Yamamoto,0.480498,5,1,2,0,2,2,0,...,0.416667,0.20,0.565217,1.0,0.0,0.0,1.0,0.0,0.0,2
794,Fabiano Iha,Daiju Takase,0.388366,4,0,0,2,0,0,2,...,0.166667,0.10,0.478261,1.0,0.0,0.0,0.0,1.0,0.0,2
795,Fabiano Iha,Laverne Clark,0.376765,5,0,3,0,3,3,0,...,0.166667,0.30,0.478261,1.0,0.0,0.0,1.0,0.0,0.0,2
796,Pat Miletich,Mikey Burnett,0.384667,1,0,1,0,1,1,0,...,0.416667,0.20,0.478261,1.0,0.0,0.0,1.0,0.0,0.0,2

In [225]:
df1.dtypes

R_fighter                        object
B_fighter                        object
B_total_time_fought(seconds)    float64
B_total_rounds_fought             int64
B_total_title_bouts               int64
B_current_win_streak              int64
B_current_lose_streak             int64
B_longest_win_streak              int64
B_wins                            int64
B_losses                          int64
B_Height_cms                    float64
B_Reach_cms                      object
B_Weight_lbs                    float64
R_total_time_fought(seconds)    float64
R_total_rounds_fought             int64
R_total_title_bouts               int64
R_current_win_streak              int64
R_current_lose_streak             int64
R_longest_win_streak              int64
R_wins                            int64
R_losses                          int64
R_Height_cms                    float64
R_Reach_cms                      object
R_Weight_lbs                    float64
B_age                            object
R_age                            object
R_Stance_Orthodox               float64
R_Stance_Southpaw               float64
R_Stance_Switch                 float64
B_Stance_Orthodox               float64
B_Stance_Southpaw               float64
B_Stance_Switch                 float64
Win                               int32
dtype: object

In [251]:
df1['B_age']=pd.to_numeric(df1['B_age'])
df1['R_age']=pd.to_numeric(df1['R_age'])
df1['B_Reach_cms']=pd.to_numeric(df1['B_Reach_cms'])
df1['R_Reach_cms']=pd.to_numeric(df1['R_Reach_cms'])
df1.dtypes

R_fighter                        object
B_fighter                        object
B_total_time_fought(seconds)    float64
B_total_rounds_fought             int64
B_total_title_bouts               int64
B_current_win_streak              int64
B_current_lose_streak             int64
B_longest_win_streak              int64
B_wins                            int64
B_losses                          int64
B_Height_cms                    float64
B_Reach_cms                     float64
B_Weight_lbs                    float64
R_total_time_fought(seconds)    float64
R_total_rounds_fought             int64
R_total_title_bouts               int64
R_current_win_streak              int64
R_current_lose_streak             int64
R_longest_win_streak              int64
R_wins                            int64
R_losses                          int64
R_Height_cms                    float64
R_Reach_cms                     float64
R_Weight_lbs                    float64
B_age                           float64
R_age                           float64
R_Stance_Orthodox               float64
R_Stance_Southpaw               float64
R_Stance_Switch                 float64
B_Stance_Orthodox               float64
B_Stance_Southpaw               float64
B_Stance_Switch                 float64
Win                               int32
dtype: object

In [252]:
df1['B_age'] = scaler.fit_transform(df1['B_age'].values.reshape(-1,1))
df1['R_age'] = scaler.fit_transform(df1['R_age'].values.reshape(-1,1))
df1['B_Reach_cms'] = scaler.fit_transform(df1['B_Reach_cms'].values.reshape(-1,1))
df1['R_Reach_cms'] = scaler.fit_transform(df1['R_Reach_cms'].values.reshape(-1,1))
df1['B_total_rounds_fought'] = scaler.fit_transform(df1['B_total_rounds_fought'].values.reshape(-1,1))
df1['R_total_rounds_fought'] = scaler.fit_transform(df1['R_total_rounds_fought'].values.reshape(-1,1))
df1

,R_fighter,B_fighter,B_total_time_fought(seconds),B_total_rounds_fought,B_total_title_bouts,B_current_win_streak,B_current_lose_streak,B_longest_win_streak,B_wins,B_losses,...,R_Weight_lbs,B_age,R_age,R_Stance_Orthodox,R_Stance_Southpaw,R_Stance_Switch,B_Stance_Orthodox,B_Stance_Southpaw,B_Stance_Switch,Win
0,Song Kenan,Max Griffin,0.535663,28,0,0,1,1,4,6,...,0.416667,0.75,0.521739,1.0,0.0,0.0,1.0,0.0,0.0,0
1,Leon Edwards,Belal Muhammad,0.580399,34,0,0,1,4,9,3,...,0.416667,0.60,0.434783,0.0,1.0,0.0,1.0,0.0,0.0,1
2,Matthew Semelsberger,Jason Witt,0.151648,3,0,0,1,1,1,1,...,0.416667,0.70,0.391304,0.0,0.0,1.0,1.0,0.0,0.0,2
3,Sean Brady,Jake Matthews,0.570631,34,0,2,0,3,10,4,...,0.416667,0.30,0.391304,1.0,0.0,0.0,1.0,0.0,0.0,2
4,Belal Muhammad,Dhiego Lima,0.502545,18,2,0,1,3,4,5,...,0.416667,0.60,0.565217,1.0,0.0,0.0,1.0,0.0,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
792,Carlos Newton,Pat Miletich,0.327274,15,6,7,0,7,7,0,...,0.416667,0.65,0.217391,1.0,0.0,0.0,1.0,0.0,0.0,2
793,Pat Miletich,Kenichi Yamamoto,0.480498,5,1,2,0,2,2,0,...,0.416667,0.20,0.565217,1.0,0.0,0.0,1.0,0.0,0.0,2
794,Fabiano Iha,Daiju Takase,0.388366,4,0,0,2,0,0,2,...,0.166667,0.10,0.478261,1.0,0.0,0.0,0.0,1.0,0.0,2
795,Fabiano Iha,Laverne Clark,0.376765,5,0,3,0,3,3,0,...,0.166667,0.30,0.478261,1.0,0.0,0.0,1.0,0.0,0.0,2
796,Pat Miletich,Mikey Burnett,0.384667,1,0,1,0,1,1,0,...,0.416667,0.20,0.478261,1.0,0.0,0.0,1.0,0.0,0.0,2

In [262]:
df1.describe()

,B_total_time_fought(seconds),B_total_rounds_fought,B_total_title_bouts,B_current_win_streak,B_current_lose_streak,B_longest_win_streak,B_wins,B_losses,B_Height_cms,B_Reach_cms,...,R_Weight_lbs,B_age,R_age,R_Stance_Orthodox,R_Stance_Southpaw,R_Stance_Switch,B_Stance_Orthodox,B_Stance_Southpaw,B_Stance_Switch,Win
count,797.000000,797.000000,797.000000,797.000000,797.000000,797.000000,797.000000,797.000000,797.000000,735.000000,...,797.000000,794.000000,796.000000,797.000000,797.000000,797.000000,797.000000,797.000000,797.000000,797.000000
mean,0.410336,0.179918,0.281054,1.229611,0.461731,2.283563,3.803011,2.112923,0.527102,0.520408,...,0.422376,0.474496,0.479080,0.710163,0.234630,0.051443,0.741531,0.214555,0.043915,1.297365
std,0.175682,0.181342,1.029126,1.411983,0.698242,1.845787,3.701160,2.034204,0.181405,0.167991,...,0.107451,0.187187,0.184622,0.453971,0.424033,0.221038,0.438068,0.410771,0.205034,0.946114
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.285138,0.042254,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.400000,0.428571,...,0.416667,0.350000,0.347826,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.427034,0.126761,0.000000,1.000000,0.000000,2.000000,3.000000,1.000000,0.500000,0.500000,...,0.416667,0.450000,0.478261,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,2.000000
75%,0.568585,0.253521,0.000000,2.000000,1.000000,3.000000,6.000000,3.000000,0.600000,0.642857,...,0.416667,0.600000,0.608696,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,2.000000
max,1.000000,1.000000,12.000000,9.000000,4.000000,9.000000,23.000000,11.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000

In [258]:
#Export as csv
df1.to_csv("cleaned_data_925.csv", index=False)

In [263]:
df2=df1.dropna()
df2

,R_fighter,B_fighter,B_total_time_fought(seconds),B_total_rounds_fought,B_total_title_bouts,B_current_win_streak,B_current_lose_streak,B_longest_win_streak,B_wins,B_losses,...,R_Weight_lbs,B_age,R_age,R_Stance_Orthodox,R_Stance_Southpaw,R_Stance_Switch,B_Stance_Orthodox,B_Stance_Southpaw,B_Stance_Switch,Win
0,Song Kenan,Max Griffin,0.535663,0.380282,0,0,1,1,4,6,...,0.416667,0.75,0.521739,1.0,0.0,0.0,1.0,0.0,0.0,0
1,Leon Edwards,Belal Muhammad,0.580399,0.464789,0,0,1,4,9,3,...,0.416667,0.60,0.434783,0.0,1.0,0.0,1.0,0.0,0.0,1
2,Matthew Semelsberger,Jason Witt,0.151648,0.028169,0,0,1,1,1,1,...,0.416667,0.70,0.391304,0.0,0.0,1.0,1.0,0.0,0.0,2
3,Sean Brady,Jake Matthews,0.570631,0.464789,0,2,0,3,10,4,...,0.416667,0.30,0.391304,1.0,0.0,0.0,1.0,0.0,0.0,2
4,Belal Muhammad,Dhiego Lima,0.502545,0.239437,2,0,1,3,4,5,...,0.416667,0.60,0.565217,1.0,0.0,0.0,1.0,0.0,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
775,Frank Trigg,Dennis Hallman,0.502354,0.070423,1,1,0,1,1,1,...,0.416667,0.40,0.565217,0.0,1.0,0.0,1.0,0.0,0.0,2
777,Nick Diaz,Robbie Lawler,0.428253,0.140845,0,3,0,3,4,1,...,0.666667,0.10,0.043478,0.0,1.0,0.0,0.0,1.0,0.0,2
778,BJ Penn,Matt Hughes,0.424266,0.295775,6,2,0,6,8,1,...,0.166667,0.50,0.260870,1.0,0.0,0.0,0.0,0.0,1.0,2
779,Robbie Lawler,Chris Lytle,0.394755,0.014085,0,0,1,0,0,1,...,0.416667,0.45,0.086957,0.0,1.0,0.0,1.0,0.0,0.0,2
781,Matt Hughes,Sean Sherk,0.327337,0.070423,0,3,0,3,3,0,...,0.416667,0.45,0.434783,0.0,0.0,1.0,1.0,0.0,0.0,2

In [279]:
#Export as csv
df2.to_csv("cleaned_data_sansNulls_925.csv", index=False)

In [278]:
df1.R_Reach_cms

0      0.307692
1      0.538462
2      0.615385
3      0.384615
4      0.384615
         ...
792         NaN
793         NaN
794         NaN
795         NaN
796         NaN
Name: R_Reach_cms, Length: 797, dtype: float64