In [22]:
import pandas as pd

In [23]:
#import dataset
fighter_data=pd.read_csv('WW_clean_data_labelEncoded_Winner.csv')
fighter_data.head()

,Unnamed: 0,R_fighter,B_fighter,date,Winner,B_total_time_fought(seconds),B_total_rounds_fought,B_total_title_bouts,B_current_win_streak,B_current_lose_streak,...,B_age,R_age,R_Stance_Orthodox,R_Stance_Southpaw,R_Stance_Switch,R_Stance_nan,B_Stance_Orthodox,B_Stance_Southpaw,B_Stance_Switch,B_Stance_nan
0,6,Song Kenan,Max Griffin,2021-03-20,0,809.531250,28,0,0,1,...,35.0,31.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1,12,Leon Edwards,Belal Muhammad,2021-03-13,1,876.053223,34,0,0,1,...,32.0,29.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,20,Matthew Semelsberger,Jason Witt,2021-03-13,2,238.500000,3,0,0,1,...,34.0,28.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,36,Sean Brady,Jake Matthews,2021-03-06,2,861.528564,34,0,2,0,...,26.0,28.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,60,Belal Muhammad,Dhiego Lima,2021-02-13,2,760.285156,18,2,0,1,...,32.0,32.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [24]:
fighter_data=fighter_data.drop(['Unnamed: 0', 'date'], axis=1)
fighter_data.head()

,R_fighter,B_fighter,Winner,B_total_time_fought(seconds),B_total_rounds_fought,B_total_title_bouts,B_current_win_streak,B_current_lose_streak,B_longest_win_streak,B_wins,...,B_age,R_age,R_Stance_Orthodox,R_Stance_Southpaw,R_Stance_Switch,R_Stance_nan,B_Stance_Orthodox,B_Stance_Southpaw,B_Stance_Switch,B_Stance_nan
0,Song Kenan,Max Griffin,0,809.531250,28,0,0,1,1,4,...,35.0,31.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1,Leon Edwards,Belal Muhammad,1,876.053223,34,0,0,1,4,9,...,32.0,29.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,Matthew Semelsberger,Jason Witt,2,238.500000,3,0,0,1,1,1,...,34.0,28.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,Sean Brady,Jake Matthews,2,861.528564,34,0,2,0,3,10,...,26.0,28.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,Belal Muhammad,Dhiego Lima,2,760.285156,18,2,0,1,3,4,...,32.0,32.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [25]:
X=fighter_data.drop(['Winner', 'R_fighter', 'B_fighter'], axis=1)
y=fighter_data.Winner

In [26]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)

In [27]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs', random_state=1)

# Train the data
classifier.fit(X_train, y_train)

C:\Users\kimbe\anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(random_state=1)

In [28]:
# Predict outcomes for test data set and save as a pandas DataFrame with the actual y_test data
predictions = classifier.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

     Prediction  Actual
22            0       0
81            2       2
35            2       2
100           2       0
79            2       2
67            0       2
40            2       0
27            0       0
21            2       2
82            2       2
18            0       0
6             2       2
56            0       0
5             2       2
39            0       0
110           2       2
65            0       2
9             2       0
108           0       2
76            2       2
0             2       0
38            2       2
51            2       0
47            2       2
24            2       1
42            2       2
91            2       2
71            0       2
28            2       2

In [29]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.6551724137931034